.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(255, 255, 255, 0);
}

.modal {
  position: fixed;
  top: 10.5vh;
  right: 0%;
  width: 33%;
  height: 70rem;
  background-color: rgb(18, 38, 59, 0.8);

  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

/* @media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
} */

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 822px) {
  .modal {
    top: 12vh;
    width: 80%;
  }
}

@media (max-width: 700px) {
  .modal {
    width: 100%;
  }
}
